<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient Compatibility Checker</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- import {Agent} from 'https';-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Ingredient Compatibility Checker</h1>
    <form id="ingredientForm">
        <div class="form-group">
            <label for="ingredient1">Ingredient 1:</label>
            <select id="ingredient1">
                <option value="Allspice">Allspice</option>
                <option value="Almond Butter">Almond Butter</option>
                <option value="Almond Milk">Almond Milk</option>
                <option value="Almonds">Almonds</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Apple">Apple</option>
                <option value="Apples">Apples</option>
                <option value="Artichoke Hearts">Artichoke Hearts</option>
                <option value="Artichokes">Artichokes</option>
                <option value="Arugula">Arugula</option>
                <option value="Asparagus">Asparagus</option>
                <option value="Avocado">Avocado</option>
                <option value="BBQ Sauce">BBQ Sauce</option>
                <option value="Bacon">Bacon</option>
                <option value="Balsamic Glaze">Balsamic Glaze</option>
                <option value="Balsamic Vinegar">Balsamic Vinegar</option>
                <option value="Banana">Banana</option>
                <option value="Basil">Basil</option>
                <option value="Bay Leaf">Bay Leaf</option>
                <option value="Beef">Beef</option>
                <option value="Bell Pepper">Bell Pepper</option>
                <option value="Bell Peppers">Bell Peppers</option>
                <option value="Berries">Berries</option>
                <option value="Black Beans">Black Beans</option>
                <option value="Black Pepper">Black Pepper</option>
                <option value="Blue Cheese">Blue Cheese</option>
                <option value="Blueberries">Blueberries</option>
                <option value="Bourbon">Bourbon</option>
                <option value="Brie Cheese">Brie Cheese</option>
                <option value="Broccoli">Broccoli</option>
                <option value="Brown Butter">Brown Butter</option>
                <option value="Brown Rice">Brown Rice</option>
                <option value="Brown Sugar">Brown Sugar</option>
                <option value="Brussels Sprouts">Brussels Sprouts</option>
                <option value="Buffalo Mozzarella">Buffalo Mozzarella</option>
                <option value="Buffalo Sauce">Buffalo Sauce</option>
                <option value="Butter">Butter</option>
                <option value="Butternut Squash">Butternut Squash</option>
                <option value="Cajun Seasoning">Cajun Seasoning</option>
                <option value="Caper Sauce">Caper Sauce</option>
                <option value="Capers">Capers</option>
                <option value="Caprese Salad">Caprese Salad</option>
                <option value="Caramelized Onions">Caramelized Onions</option>
                <option value="Cheddar Cheese">Cheddar Cheese</option>
                <option value="Cherry Tomatoes">Cherry Tomatoes</option>
                <option value="Chia Seeds">Chia Seeds</option>
                <option value="Chicken">Chicken</option>
                <option value="Chickpeas">Chickpeas</option>
                <option value="Chile Peppers">Chile Peppers</option>
                <option value="Chili Powder">Chili Powder</option>
                <option value="Chimichurri Sauce">Chimichurri Sauce</option>
                <option value="Chives">Chives</option>
                <option value="Chocolate">Chocolate</option>
                <option value="Chocolate Chips">Chocolate Chips</option>
                <option value="Chocolate Syrup">Chocolate Syrup</option>
                <option value="Cider Vinegar">Cider Vinegar</option>
                <option value="Cilantro">Cilantro</option>
                <option value="Cinnamon">Cinnamon</option>
                <option value="Coconut">Coconut</option>
                <option value="Coconut Flakes">Coconut Flakes</option>
                <option value="Coconut Milk">Coconut Milk</option>
                <option value="Coconut Water">Coconut Water</option>
                <option value="Coriander">Coriander</option>
                <option value="Corn">Corn</option>
                <option value="Cottage Cheese">Cottage Cheese</option>
                <option value="Cranberries">Cranberries</option>
                <option value="Cream">Cream</option>
                <option value="Cream Cheese">Cream Cheese</option>
                <option value="Cucumber">Cucumber</option>
                <option value="Cumin">Cumin</option>
                <option value="Curry">Curry</option>
                <option value="Dark Chocolate">Dark Chocolate</option>
                <option value="Dijon Mustard">Dijon Mustard</option>
                <option value="Dill">Dill</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Eggs">Eggs</option>
                <option value="Feta Cheese">Feta Cheese</option>
                <option value="Fig">Fig</option>
                <option value="Garlic">Garlic</option>
                <option value="Garlic Butter">Garlic Butter</option>
                <option value="Garlic Powder">Garlic Powder</option>
                <option value="Ginger">Ginger</option>
                <option value="Goat Cheese">Goat Cheese</option>
                <option value="Gorgonzola">Gorgonzola</option>
                <option value="Gouda Cheese">Gouda Cheese</option>
                <option value="Granola">Granola</option>
                <option value="Grapes">Grapes</option>
                <option value="Greek Yogurt">Greek Yogurt</option>
                <option value="Green Beans">Green Beans</option>
                <option value="Green Onion">Green Onion</option>
                <option value="Green Onions">Green Onions</option>
                <option value="Green Pesto">Green Pesto</option>
                <option value="Green Tea">Green Tea</option>
                <option value="Grilled Zucchini">Grilled Zucchini</option>
                <option value="Gruyere Cheese">Gruyere Cheese</option>
                <option value="Ham">Ham</option>
                <option value="Hazelnuts">Hazelnuts</option>
                <option value="Hollandaise Sauce">Hollandaise Sauce</option>
                <option value="Honey">Honey</option>
                <option value="Horseradish">Horseradish</option>
                <option value="Hummus">Hummus</option>
                <option value="Jalapeno">Jalapeno</option>
                <option value="Kalamata Olives">Kalamata Olives</option>
                <option value="Kale">Kale</option>
                <option value="Kiwi">Kiwi</option>
                <option value="Lemon">Lemon</option>
                <option value="Lemon Pepper">Lemon Pepper</option>
                <option value="Lemon Zest">Lemon Zest</option>
                <option value="Lime">Lime</option>
                <option value="Mango">Mango</option>
                <option value="Maple Glaze">Maple Glaze</option>
                <option value="Maple Syrup">Maple Syrup</option>
                <option value="Mint">Mint</option>
                <option value="Mozzarella">Mozzarella</option>
                <option value="Mozzarella Balls">Mozzarella Balls</option>
                <option value="Mozzarella Cheese">Mozzarella Cheese</option>
                <option value="Mozzarella Sticks">Mozzarella Sticks</option>
                <option value="Mushroom">Mushroom</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Mustard">Mustard</option>
                <option value="Nutmeg">Nutmeg</option>
                <option value="Oats">Oats</option>
                <option value="Olive Oil">Olive Oil</option>
                <option value="Olive Tapenade">Olive Tapenade</option>
                <option value="Olives">Olives</option>
                <option value="Onion">Onion</option>
                <option value="Onion Powder">Onion Powder</option>
                <option value="Onions">Onions</option>
                <option value="Orange">Orange</option>
                <option value="Orange Juice">Orange Juice</option>
                <option value="Oregano">Oregano</option>
                <option value="Papaya">Papaya</option>
                <option value="Paprika">Paprika</option>
                <option value="Parmesan Cheese">Parmesan Cheese</option>
                <option value="Parsley">Parsley</option>
                <option value="Pasta">Pasta</option>
                <option value="Peach">Peach</option>
                <option value="Peanut Butter">Peanut Butter</option>
                <option value="Pear">Pear</option>
                <option value="Pecans">Pecans</option>
                <option value="Peppercorns">Peppercorns</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Pesto">Pesto</option>
                <option value="Pico de Gallo">Pico de Gallo</option>
                <option value="Pine Nuts">Pine Nuts</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Pineapple Juice">Pineapple Juice</option>
                <option value="Pistachios">Pistachios</option>
                <option value="Pomegranate Seeds">Pomegranate Seeds</option>
                <option value="Pork">Pork</option>
                <option value="Potato">Potato</option>
                <option value="Potatoes">Potatoes</option>
                <option value="Prosciutto">Prosciutto</option>
                <option value="Pumpkin">Pumpkin</option>
                <option value="Pumpkin Seeds">Pumpkin Seeds</option>
                <option value="Queso Fresco">Queso Fresco</option>
                <option value="Quinoa">Quinoa</option>
                <option value="Radish">Radish</option>
                <option value="Ranch Dressing">Ranch Dressing</option>
                <option value="Raspberry">Raspberry</option>
                <option value="Red Onion">Red Onion</option>
                <option value="Red Pepper">Red Pepper</option>
                <option value="Red Pepper Flakes">Red Pepper Flakes</option>
                <option value="Red Wine">Red Wine</option>
                <option value="Rice">Rice</option>
                <option value="Ricotta">Ricotta</option>
                <option value="Ricotta Cheese">Ricotta Cheese</option>
                <option value="Ricotta Salata">Ricotta Salata</option>
                <option value="Roasted Beets">Roasted Beets</option>
                <option value="Roasted Eggplant">Roasted Eggplant</option>
                <option value="Roasted Garlic">Roasted Garlic</option>
                <option value="Rosemary">Rosemary</option>
                <option value="Rum">Rum</option>
                <option value="Sage">Sage</option>
                <option value="Salmon">Salmon</option>
                <option value="Salsa">Salsa</option>
                <option value="Sausage">Sausage</option>
                <option value="Sesame Seeds">Sesame Seeds</option>
                <option value="Shallots">Shallots</option>
                <option value="Shrimp">Shrimp</option>
                <option value="Smoked Paprika">Smoked Paprika</option>
                <option value="Smoked Salmon">Smoked Salmon</option>
                <option value="Sour Cream">Sour Cream</option>
                <option value="Soy Sauce">Soy Sauce</option>
                <option value="Spinach">Spinach</option>
                <option value="Sriracha">Sriracha</option>
                <option value="Strawberries">Strawberries</option>
                <option value="Strawberry">Strawberry</option>
                <option value="Sun-Dried Tomatoes">Sun-Dried Tomatoes</option>
                <option value="Sun-dried Tomatoes">Sun-dried Tomatoes</option>
                <option value="Sundried Tomato Pesto">Sundried Tomato Pesto</option>
                <option value="Sundried Tomatoes">Sundried Tomatoes</option>
                <option value="Sweet Potato">Sweet Potato</option>
                <option value="Swiss Cheese">Swiss Cheese</option>
                <option value="Tahini">Tahini</option>
                <option value="Tarragon">Tarragon</option>
                <option value="Teriyaki Glaze">Teriyaki Glaze</option>
                <option value="Teriyaki Sauce">Teriyaki Sauce</option>
                <option value="Thyme">Thyme</option>
                <option value="Tomato">Tomato</option>
                <option value="Tzatziki Sauce">Tzatziki Sauce</option>
                <option value="Vanilla Extract">Vanilla Extract</option>
                <option value="Vanilla Ice Cream">Vanilla Ice Cream</option>
                <option value="Vanilla Yogurt">Vanilla Yogurt</option>
                <option value="Walnut">Walnut</option>
                <option value="Walnuts">Walnuts</option>
                <option value="Watercress">Watercress</option>
                <option value="Watermelon">Watermelon</option>
                <option value="White Chocolate">White Chocolate</option>
                <option value="White Wine">White Wine</option>
                <option value="Yogurt">Yogurt</option>
                <option value="Zucchini">Zucchini</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ingredient2">Ingredient 2:</label>
            <select id="ingredient2">
                <option value="Allspice">Allspice</option>
                <option value="Almond Butter">Almond Butter</option>
                <option value="Almond Milk">Almond Milk</option>
                <option value="Almonds">Almonds</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Apple">Apple</option>
                <option value="Apples">Apples</option>
                <option value="Artichoke Hearts">Artichoke Hearts</option>
                <option value="Artichokes">Artichokes</option>
                <option value="Arugula">Arugula</option>
                <option value="Asparagus">Asparagus</option>
                <option value="Avocado">Avocado</option>
                <option value="BBQ Sauce">BBQ Sauce</option>
                <option value="Bacon">Bacon</option>
                <option value="Balsamic Glaze">Balsamic Glaze</option>
                <option value="Balsamic Vinegar">Balsamic Vinegar</option>
                <option value="Banana">Banana</option>
                <option value="Basil">Basil</option>
                <option value="Bay Leaf">Bay Leaf</option>
                <option value="Beef">Beef</option>
                <option value="Bell Pepper">Bell Pepper</option>
                <option value="Bell Peppers">Bell Peppers</option>
                <option value="Berries">Berries</option>
                <option value="Black Beans">Black Beans</option>
                <option value="Black Pepper">Black Pepper</option>
                <option value="Blue Cheese">Blue Cheese</option>
                <option value="Blueberries">Blueberries</option>
                <option value="Bourbon">Bourbon</option>
                <option value="Brie Cheese">Brie Cheese</option>
                <option value="Broccoli">Broccoli</option>
                <option value="Brown Butter">Brown Butter</option>
                <option value="Brown Rice">Brown Rice</option>
                <option value="Brown Sugar">Brown Sugar</option>
                <option value="Brussels Sprouts">Brussels Sprouts</option>
                <option value="Buffalo Mozzarella">Buffalo Mozzarella</option>
                <option value="Buffalo Sauce">Buffalo Sauce</option>
                <option value="Butter">Butter</option>
                <option value="Butternut Squash">Butternut Squash</option>
                <option value="Cajun Seasoning">Cajun Seasoning</option>
                <option value="Caper Sauce">Caper Sauce</option>
                <option value="Capers">Capers</option>
                <option value="Caprese Salad">Caprese Salad</option>
                <option value="Caramelized Onions">Caramelized Onions</option>
                <option value="Cheddar Cheese">Cheddar Cheese</option>
                <option value="Cherry Tomatoes">Cherry Tomatoes</option>
                <option value="Chia Seeds">Chia Seeds</option>
                <option value="Chicken">Chicken</option>
                <option value="Chickpeas">Chickpeas</option>
                <option value="Chile Peppers">Chile Peppers</option>
                <option value="Chili Powder">Chili Powder</option>
                <option value="Chimichurri Sauce">Chimichurri Sauce</option>
                <option value="Chives">Chives</option>
                <option value="Chocolate">Chocolate</option>
                <option value="Chocolate Chips">Chocolate Chips</option>
                <option value="Chocolate Syrup">Chocolate Syrup</option>
                <option value="Cider Vinegar">Cider Vinegar</option>
                <option value="Cilantro">Cilantro</option>
                <option value="Cinnamon">Cinnamon</option>
                <option value="Coconut">Coconut</option>
                <option value="Coconut Flakes">Coconut Flakes</option>
                <option value="Coconut Milk">Coconut Milk</option>
                <option value="Coconut Water">Coconut Water</option>
                <option value="Coriander">Coriander</option>
                <option value="Corn">Corn</option>
                <option value="Cottage Cheese">Cottage Cheese</option>
                <option value="Cranberries">Cranberries</option>
                <option value="Cream">Cream</option>
                <option value="Cream Cheese">Cream Cheese</option>
                <option value="Cucumber">Cucumber</option>
                <option value="Cumin">Cumin</option>
                <option value="Curry">Curry</option>
                <option value="Dark Chocolate">Dark Chocolate</option>
                <option value="Dijon Mustard">Dijon Mustard</option>
                <option value="Dill">Dill</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Eggs">Eggs</option>
                <option value="Feta Cheese">Feta Cheese</option>
                <option value="Fig">Fig</option>
                <option value="Garlic">Garlic</option>
                <option value="Garlic Butter">Garlic Butter</option>
                <option value="Garlic Powder">Garlic Powder</option>
                <option value="Ginger">Ginger</option>
                <option value="Goat Cheese">Goat Cheese</option>
                <option value="Gorgonzola">Gorgonzola</option>
                <option value="Gouda Cheese">Gouda Cheese</option>
                <option value="Granola">Granola</option>
                <option value="Grapes">Grapes</option>
                <option value="Greek Yogurt">Greek Yogurt</option>
                <option value="Green Beans">Green Beans</option>
                <option value="Green Onion">Green Onion</option>
                <option value="Green Onions">Green Onions</option>
                <option value="Green Pesto">Green Pesto</option>
                <option value="Green Tea">Green Tea</option>
                <option value="Grilled Zucchini">Grilled Zucchini</option>
                <option value="Gruyere Cheese">Gruyere Cheese</option>
                <option value="Ham">Ham</option>
                <option value="Hazelnuts">Hazelnuts</option>
                <option value="Hollandaise Sauce">Hollandaise Sauce</option>
                <option value="Honey">Honey</option>
                <option value="Horseradish">Horseradish</option>
                <option value="Hummus">Hummus</option>
                <option value="Jalapeno">Jalapeno</option>
                <option value="Kalamata Olives">Kalamata Olives</option>
                <option value="Kale">Kale</option>
                <option value="Kiwi">Kiwi</option>
                <option value="Lemon">Lemon</option>
                <option value="Lemon Pepper">Lemon Pepper</option>
                <option value="Lemon Zest">Lemon Zest</option>
                <option value="Lime">Lime</option>
                <option value="Mango">Mango</option>
                <option value="Maple Glaze">Maple Glaze</option>
                <option value="Maple Syrup">Maple Syrup</option>
                <option value="Mint">Mint</option>
                <option value="Mozzarella">Mozzarella</option>
                <option value="Mozzarella Balls">Mozzarella Balls</option>
                <option value="Mozzarella Cheese">Mozzarella Cheese</option>
                <option value="Mozzarella Sticks">Mozzarella Sticks</option>
                <option value="Mushroom">Mushroom</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Mustard">Mustard</option>
                <option value="Nutmeg">Nutmeg</option>
                <option value="Oats">Oats</option>
                <option value="Olive Oil">Olive Oil</option>
                <option value="Olive Tapenade">Olive Tapenade</option>
                <option value="Olives">Olives</option>
                <option value="Onion">Onion</option>
                <option value="Onion Powder">Onion Powder</option>
                <option value="Onions">Onions</option>
                <option value="Orange">Orange</option>
                <option value="Orange Juice">Orange Juice</option>
                <option value="Oregano">Oregano</option>
                <option value="Papaya">Papaya</option>
                <option value="Paprika">Paprika</option>
                <option value="Parmesan Cheese">Parmesan Cheese</option>
                <option value="Parsley">Parsley</option>
                <option value="Pasta">Pasta</option>
                <option value="Peach">Peach</option>
                <option value="Peanut Butter">Peanut Butter</option>
                <option value="Pear">Pear</option>
                <option value="Pecans">Pecans</option>
                <option value="Peppercorns">Peppercorns</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Pesto">Pesto</option>
                <option value="Pico de Gallo">Pico de Gallo</option>
                <option value="Pine Nuts">Pine Nuts</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Pineapple Juice">Pineapple Juice</option>
                <option value="Pistachios">Pistachios</option>
                <option value="Pomegranate Seeds">Pomegranate Seeds</option>
                <option value="Pork">Pork</option>
                <option value="Potato">Potato</option>
                <option value="Potatoes">Potatoes</option>
                <option value="Prosciutto">Prosciutto</option>
                <option value="Pumpkin">Pumpkin</option>
                <option value="Pumpkin Seeds">Pumpkin Seeds</option>
                <option value="Queso Fresco">Queso Fresco</option>
                <option value="Quinoa">Quinoa</option>
                <option value="Radish">Radish</option>
                <option value="Ranch Dressing">Ranch Dressing</option>
                <option value="Raspberry">Raspberry</option>
                <option value="Red Onion">Red Onion</option>
                <option value="Red Pepper">Red Pepper</option>
                <option value="Red Pepper Flakes">Red Pepper Flakes</option>
                <option value="Red Wine">Red Wine</option>
                <option value="Rice">Rice</option>
                <option value="Ricotta">Ricotta</option>
                <option value="Ricotta Cheese">Ricotta Cheese</option>
                <option value="Ricotta Salata">Ricotta Salata</option>
                <option value="Roasted Beets">Roasted Beets</option>
                <option value="Roasted Eggplant">Roasted Eggplant</option>
                <option value="Roasted Garlic">Roasted Garlic</option>
                <option value="Rosemary">Rosemary</option>
                <option value="Rum">Rum</option>
                <option value="Sage">Sage</option>
                <option value="Salmon">Salmon</option>
                <option value="Salsa">Salsa</option>
                <option value="Sausage">Sausage</option>
                <option value="Sesame Seeds">Sesame Seeds</option>
                <option value="Shallots">Shallots</option>
                <option value="Shrimp">Shrimp</option>
                <option value="Smoked Paprika">Smoked Paprika</option>
                <option value="Smoked Salmon">Smoked Salmon</option>
                <option value="Sour Cream">Sour Cream</option>
                <option value="Soy Sauce">Soy Sauce</option>
                <option value="Spinach">Spinach</option>
                <option value="Sriracha">Sriracha</option>
                <option value="Strawberries">Strawberries</option>
                <option value="Strawberry">Strawberry</option>
                <option value="Sun-Dried Tomatoes">Sun-Dried Tomatoes</option>
                <option value="Sun-dried Tomatoes">Sun-dried Tomatoes</option>
                <option value="Sundried Tomato Pesto">Sundried Tomato Pesto</option>
                <option value="Sundried Tomatoes">Sundried Tomatoes</option>
                <option value="Sweet Potato">Sweet Potato</option>
                <option value="Swiss Cheese">Swiss Cheese</option>
                <option value="Tahini">Tahini</option>
                <option value="Tarragon">Tarragon</option>
                <option value="Teriyaki Glaze">Teriyaki Glaze</option>
                <option value="Teriyaki Sauce">Teriyaki Sauce</option>
                <option value="Thyme">Thyme</option>
                <option value="Tomato">Tomato</option>
                <option value="Tzatziki Sauce">Tzatziki Sauce</option>
                <option value="Vanilla Extract">Vanilla Extract</option>
                <option value="Vanilla Ice Cream">Vanilla Ice Cream</option>
                <option value="Vanilla Yogurt">Vanilla Yogurt</option>
                <option value="Walnut">Walnut</option>
                <option value="Walnuts">Walnuts</option>
                <option value="Watercress">Watercress</option>
                <option value="Watermelon">Watermelon</option>
                <option value="White Chocolate">White Chocolate</option>
                <option value="White Wine">White Wine</option>
                <option value="Yogurt">Yogurt</option>
                <option value="Zucchini">Zucchini</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ingredient3">Ingredient 3:</label>
            <select id="ingredient3">
                <option value="Allspice">Allspice</option>
                <option value="Almond Butter">Almond Butter</option>
                <option value="Almond Milk">Almond Milk</option>
                <option value="Almonds">Almonds</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Apple">Apple</option>
                <option value="Apples">Apples</option>
                <option value="Artichoke Hearts">Artichoke Hearts</option>
                <option value="Artichokes">Artichokes</option>
                <option value="Arugula">Arugula</option>
                <option value="Asparagus">Asparagus</option>
                <option value="Avocado">Avocado</option>
                <option value="BBQ Sauce">BBQ Sauce</option>
                <option value="Bacon">Bacon</option>
                <option value="Balsamic Glaze">Balsamic Glaze</option>
                <option value="Balsamic Vinegar">Balsamic Vinegar</option>
                <option value="Banana">Banana</option>
                <option value="Basil">Basil</option>
                <option value="Bay Leaf">Bay Leaf</option>
                <option value="Beef">Beef</option>
                <option value="Bell Pepper">Bell Pepper</option>
                <option value="Bell Peppers">Bell Peppers</option>
                <option value="Berries">Berries</option>
                <option value="Black Beans">Black Beans</option>
                <option value="Black Pepper">Black Pepper</option>
                <option value="Blue Cheese">Blue Cheese</option>
                <option value="Blueberries">Blueberries</option>
                <option value="Bourbon">Bourbon</option>
                <option value="Brie Cheese">Brie Cheese</option>
                <option value="Broccoli">Broccoli</option>
                <option value="Brown Butter">Brown Butter</option>
                <option value="Brown Rice">Brown Rice</option>
                <option value="Brown Sugar">Brown Sugar</option>
                <option value="Brussels Sprouts">Brussels Sprouts</option>
                <option value="Buffalo Mozzarella">Buffalo Mozzarella</option>
                <option value="Buffalo Sauce">Buffalo Sauce</option>
                <option value="Butter">Butter</option>
                <option value="Butternut Squash">Butternut Squash</option>
                <option value="Cajun Seasoning">Cajun Seasoning</option>
                <option value="Caper Sauce">Caper Sauce</option>
                <option value="Capers">Capers</option>
                <option value="Caprese Salad">Caprese Salad</option>
                <option value="Caramelized Onions">Caramelized Onions</option>
                <option value="Cheddar Cheese">Cheddar Cheese</option>
                <option value="Cherry Tomatoes">Cherry Tomatoes</option>
                <option value="Chia Seeds">Chia Seeds</option>
                <option value="Chicken">Chicken</option>
                <option value="Chickpeas">Chickpeas</option>
                <option value="Chile Peppers">Chile Peppers</option>
                <option value="Chili Powder">Chili Powder</option>
                <option value="Chimichurri Sauce">Chimichurri Sauce</option>
                <option value="Chives">Chives</option>
                <option value="Chocolate">Chocolate</option>
                <option value="Chocolate Chips">Chocolate Chips</option>
                <option value="Chocolate Syrup">Chocolate Syrup</option>
                <option value="Cider Vinegar">Cider Vinegar</option>
                <option value="Cilantro">Cilantro</option>
                <option value="Cinnamon">Cinnamon</option>
                <option value="Coconut">Coconut</option>
                <option value="Coconut Flakes">Coconut Flakes</option>
                <option value="Coconut Milk">Coconut Milk</option>
                <option value="Coconut Water">Coconut Water</option>
                <option value="Coriander">Coriander</option>
                <option value="Corn">Corn</option>
                <option value="Cottage Cheese">Cottage Cheese</option>
                <option value="Cranberries">Cranberries</option>
                <option value="Cream">Cream</option>
                <option value="Cream Cheese">Cream Cheese</option>
                <option value="Cucumber">Cucumber</option>
                <option value="Cumin">Cumin</option>
                <option value="Curry">Curry</option>
                <option value="Dark Chocolate">Dark Chocolate</option>
                <option value="Dijon Mustard">Dijon Mustard</option>
                <option value="Dill">Dill</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Eggs">Eggs</option>
                <option value="Feta Cheese">Feta Cheese</option>
                <option value="Fig">Fig</option>
                <option value="Garlic">Garlic</option>
                <option value="Garlic Butter">Garlic Butter</option>
                <option value="Garlic Powder">Garlic Powder</option>
                <option value="Ginger">Ginger</option>
                <option value="Goat Cheese">Goat Cheese</option>
                <option value="Gorgonzola">Gorgonzola</option>
                <option value="Gouda Cheese">Gouda Cheese</option>
                <option value="Granola">Granola</option>
                <option value="Grapes">Grapes</option>
                <option value="Greek Yogurt">Greek Yogurt</option>
                <option value="Green Beans">Green Beans</option>
                <option value="Green Onion">Green Onion</option>
                <option value="Green Onions">Green Onions</option>
                <option value="Green Pesto">Green Pesto</option>
                <option value="Green Tea">Green Tea</option>
                <option value="Grilled Zucchini">Grilled Zucchini</option>
                <option value="Gruyere Cheese">Gruyere Cheese</option>
                <option value="Ham">Ham</option>
                <option value="Hazelnuts">Hazelnuts</option>
                <option value="Hollandaise Sauce">Hollandaise Sauce</option>
                <option value="Honey">Honey</option>
                <option value="Horseradish">Horseradish</option>
                <option value="Hummus">Hummus</option>
                <option value="Jalapeno">Jalapeno</option>
                <option value="Kalamata Olives">Kalamata Olives</option>
                <option value="Kale">Kale</option>
                <option value="Kiwi">Kiwi</option>
                <option value="Lemon">Lemon</option>
                <option value="Lemon Pepper">Lemon Pepper</option>
                <option value="Lemon Zest">Lemon Zest</option>
                <option value="Lime">Lime</option>
                <option value="Mango">Mango</option>
                <option value="Maple Glaze">Maple Glaze</option>
                <option value="Maple Syrup">Maple Syrup</option>
                <option value="Mint">Mint</option>
                <option value="Mozzarella">Mozzarella</option>
                <option value="Mozzarella Balls">Mozzarella Balls</option>
                <option value="Mozzarella Cheese">Mozzarella Cheese</option>
                <option value="Mozzarella Sticks">Mozzarella Sticks</option>
                <option value="Mushroom">Mushroom</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Mustard">Mustard</option>
                <option value="Nutmeg">Nutmeg</option>
                <option value="Oats">Oats</option>
                <option value="Olive Oil">Olive Oil</option>
                <option value="Olive Tapenade">Olive Tapenade</option>
                <option value="Olives">Olives</option>
                <option value="Onion">Onion</option>
                <option value="Onion Powder">Onion Powder</option>
                <option value="Onions">Onions</option>
                <option value="Orange">Orange</option>
                <option value="Orange Juice">Orange Juice</option>
                <option value="Oregano">Oregano</option>
                <option value="Papaya">Papaya</option>
                <option value="Paprika">Paprika</option>
                <option value="Parmesan Cheese">Parmesan Cheese</option>
                <option value="Parsley">Parsley</option>
                <option value="Pasta">Pasta</option>
                <option value="Peach">Peach</option>
                <option value="Peanut Butter">Peanut Butter</option>
                <option value="Pear">Pear</option>
                <option value="Pecans">Pecans</option>
                <option value="Peppercorns">Peppercorns</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Pesto">Pesto</option>
                <option value="Pico de Gallo">Pico de Gallo</option>
                <option value="Pine Nuts">Pine Nuts</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Pineapple Juice">Pineapple Juice</option>
                <option value="Pistachios">Pistachios</option>
                <option value="Pomegranate Seeds">Pomegranate Seeds</option>
                <option value="Pork">Pork</option>
                <option value="Potato">Potato</option>
                <option value="Potatoes">Potatoes</option>
                <option value="Prosciutto">Prosciutto</option>
                <option value="Pumpkin">Pumpkin</option>
                <option value="Pumpkin Seeds">Pumpkin Seeds</option>
                <option value="Queso Fresco">Queso Fresco</option>
                <option value="Quinoa">Quinoa</option>
                <option value="Radish">Radish</option>
                <option value="Ranch Dressing">Ranch Dressing</option>
                <option value="Raspberry">Raspberry</option>
                <option value="Red Onion">Red Onion</option>
                <option value="Red Pepper">Red Pepper</option>
                <option value="Red Pepper Flakes">Red Pepper Flakes</option>
                <option value="Red Wine">Red Wine</option>
                <option value="Rice">Rice</option>
                <option value="Ricotta">Ricotta</option>
                <option value="Ricotta Cheese">Ricotta Cheese</option>
                <option value="Ricotta Salata">Ricotta Salata</option>
                <option value="Roasted Beets">Roasted Beets</option>
                <option value="Roasted Eggplant">Roasted Eggplant</option>
                <option value="Roasted Garlic">Roasted Garlic</option>
                <option value="Rosemary">Rosemary</option>
                <option value="Rum">Rum</option>
                <option value="Sage">Sage</option>
                <option value="Salmon">Salmon</option>
                <option value="Salsa">Salsa</option>
                <option value="Sausage">Sausage</option>
                <option value="Sesame Seeds">Sesame Seeds</option>
                <option value="Shallots">Shallots</option>
                <option value="Shrimp">Shrimp</option>
                <option value="Smoked Paprika">Smoked Paprika</option>
                <option value="Smoked Salmon">Smoked Salmon</option>
                <option value="Sour Cream">Sour Cream</option>
                <option value="Soy Sauce">Soy Sauce</option>
                <option value="Spinach">Spinach</option>
                <option value="Sriracha">Sriracha</option>
                <option value="Strawberries">Strawberries</option>
                <option value="Strawberry">Strawberry</option>
                <option value="Sun-Dried Tomatoes">Sun-Dried Tomatoes</option>
                <option value="Sun-dried Tomatoes">Sun-dried Tomatoes</option>
                <option value="Sundried Tomato Pesto">Sundried Tomato Pesto</option>
                <option value="Sundried Tomatoes">Sundried Tomatoes</option>
                <option value="Sweet Potato">Sweet Potato</option>
                <option value="Swiss Cheese">Swiss Cheese</option>
                <option value="Tahini">Tahini</option>
                <option value="Tarragon">Tarragon</option>
                <option value="Teriyaki Glaze">Teriyaki Glaze</option>
                <option value="Teriyaki Sauce">Teriyaki Sauce</option>
                <option value="Thyme">Thyme</option>
                <option value="Tomato">Tomato</option>
                <option value="Tzatziki Sauce">Tzatziki Sauce</option>
                <option value="Vanilla Extract">Vanilla Extract</option>
                <option value="Vanilla Ice Cream">Vanilla Ice Cream</option>
                <option value="Vanilla Yogurt">Vanilla Yogurt</option>
                <option value="Walnut">Walnut</option>
                <option value="Walnuts">Walnuts</option>
                <option value="Watercress">Watercress</option>
                <option value="Watermelon">Watermelon</option>
                <option value="White Chocolate">White Chocolate</option>
                <option value="White Wine">White Wine</option>
                <option value="Yogurt">Yogurt</option>
                <option value="Zucchini">Zucchini</option>
            </select>
        </div>
        <div style="position: relative; display: inline-block;">
            <button type="submit">Check Compatibility</button>
            <span class="loading-spinner" id="loadingSpinner"></span>
        </div>
    </form>
    <p id="result"></p>
</div>
<script src="/static/app.js"></script>
</body>
</html>
